<div class="container content">
    <div class="row">
        <div class="col-md-4">
            <h1><%= @spot.name %></h1>
            <p><%= @spot.point %></p>
        </div>
        <div class="col-md-8">
            <div id="gmap" class="frame"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>コメント</h2>
                <ul class="comments list-group">
                    <% @spot.comments.each do |comment| %>
                        <li class="list-group-item">
                            <%= comment.name %> : <%= comment.text %>
                            <span class="date text-muted pull-right"><%= comment.updated_at.strftime("%Y/%m/%d %R") %></span>
                        </li>
                    <% end %>
                </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form class="form-horizontal" action="/comment/create" method="POST">
                <input type="hidden" name="spot_id" value="<%= @spot.id %>">
                <div class="row">
                    <div class="col-sm-2">
                        <input class="form-control" type="text" class="form-control" name="name" placeholder="Name">
                    </div>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" class="form-control" name="text" placeholder="Text">
                    </div>
                    <div class="col-sm-2">
                        <input class="btn btn-default" type="submit" value="Send">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">
google.maps.event.addDomListener(window, 'load', function()
{ 
    var lng = <%= @spot.lng %>;
    var lat = <%= @spot.lat %>;

    var mapOptions = {
        zoom: 16,
        center: new google.maps.LatLng(lat, lng),
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        scaleControl: true
    };
    var mapObj = new google.maps.Map(document.getElementById('gmap'), mapOptions);

    spot = {name: "<%= @spot.name %>", latlng: new google.maps.LatLng( <%= @spot.lat %>, <%= @spot.lng %>) }
    // マーカーを作成
    var marker = new google.maps.Marker({
        position: spot.latlng,
        map: mapObj,
        title: spot.name
    });
});
</script>
