<div class="container content">
    <div class="row">
        <div class="col-md-8">
            <div id="gmap" class="frame"></div>
        </div>
        <div class="col-md-4">
            <h1><%= @spot.name %></h1>
            <p><%= @spot.point %></p>
        </div>
    </div>
</div>


<script type="text/javascript">
google.maps.event.addDomListener(window, 'load', function()
{ 
    var lng = <%= @spot.lng %>;
    var lat = <%= @spot.lat %>;

    var mapOptions = {
        zoom: 16,
        center: new google.maps.LatLng(lat, lng),
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        scaleControl: true
    };
    var mapObj = new google.maps.Map(document.getElementById('gmap'), mapOptions);

    spot = {name: "<%= @spot.name %>", latlng: new google.maps.LatLng( <%= @spot.lat %>, <%= @spot.lng %>) }
    // マーカーを作成
    var marker = new google.maps.Marker({
        position: spot.latlng,
        map: mapObj,
        title: spot.name
    });
});
</script>
